@charset "ISO-8859-1";

<style type ="text/css">

form {
	color: blue;
	position: relative;
	text-decoration: none;
	text-align: justify;
}

.header {
	width: 100%;
	height: 100px;
	background-color: antiquewhite;
	border-bottom: 2px black solid;
	opacity: 0.95;
	display: flex;
}

.headerTop {
	position: relative;
	height: 10px;
	padding: 4px;
}

.logIn {
	border-left: 1px black solid;
	position: relative;
	width: 250px;
	
}

.headerText {
	position: relative;
	font-size: 30px;
	margin: auto;
    width: 50%;
    text-align: center;
	
}

.infoText {
	position: relative;
	margin: auto;
    width: 50%;
    text-align: center;
}

.clothesContainer {
	position: relative;
	top: 150px;
	margin: auto;
    width: 100%;
	display: flex;
	
}

.clothType {
	margin: 0 auto;
    width: 370px;
    height: 250px;
	display: flex;
	border: dashed thin;
	position: relative;	
}

.buttonRow {
	display: flex;
	position: absolute;
	z-index: 10;
	bottom:0px;
	box-sizing: border-box;
	width: 100%;
  	height: 25%;
}

.clothButton	 {
	background-color: rgba(255,255,255,0.5);
    color: black;    
    border-top: 1px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 15px 60px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.clothButton:hover	 {
	background-color: rgba(255,255,255,0.9);
    color: black;    
    border-top: 1px solid blue;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>